.Div-Main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.Mensagem-enviada{
  background-image: url(../src/img/background.png);
  background-size: contain;
  padding: 30px;
  width: 60vw;
  min-height: 50vh;
  border-radius: 5px;
  border: 1px solid black;
}

.Container-mensagem{
  display:flex;
  border:1px solid black;
  border-radius: 5px;
  background-color: lightgrey;

}

.Container-mensagem input {
  align-self: center;
  border-color: black;

}

.Container-mensagem img{
  width: 10px;
  height: 10px;

}
.balaoMsg{
  background-color: #d8fdd2;
  width: fit-content;
  padding: 5px;
  margin-bottom: 3px;


}


