.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(67, 65, 65);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

