*{
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 30px;
    background-color: aqua;
    padding: auto;
}

header input{
    align-items: flex-end;
}

.Reprodutor{
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    object-fit: contain;
}

.Reprodutor h2{
text-align: center;
}

video{
    display: grid;
    object-position: center;
    max-height: 95%;
    max-width: 85%;

}

.voltar{
    display: grid;
    align-self: flex-start;
    width: 150px;
    padding: 8px 16px;
    background-color: coral;
    text-align: center;
    margin: 0 auto;
    border-radius: 4px;

}
footer{
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: space-around;
    background-color: mediumvioletred;
    width: 100%; 
    text-align: center;
}